In [2]:
#1- Create a string with your name and print it
name = "Serajul Haque"
print(name)

Serajul Haque

In [3]:
#2- Find the length of the string "Hello World"
print(len("Hello World"))

11

In [4]:
#3- Slice the first 3 characters from the string "Python Programming"
print("Python Programming"[:3])

Pyt

In [5]:
#4- Convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [36]:
#5- Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [35]:
#6- Replace the word "apple" with "orange" in the string "I like apple"
print("I like apple".replace("apple", "orange"))

I like orange

In [34]:
#7- Append the number 10 to the list [1, 2, 3, 4]
num_list = [1, 2, 3, 4]
num_list.append(10)
print(num_list)

[1, 2, 3, 4, 10]

In [33]:
#8- Remove the number 3 from the list [1, 2, 3, 4, 5]
num_list2 = [1, 2, 3, 4, 5]
num_list2.remove(3)
print(num_list2)

[1, 2, 4, 5]

In [32]:

#9- Access the second element in the list ['a', 'b', 'c', 'd']
char_list = ['a', 'b', 'c', 'd']
print(char_list[1])

b

In [31]:
#10- Reverse the list [10, 20, 30, 40, 50]
reverse_list = [10, 20, 30, 40, 50]
reverse_list.reverse()
print(reverse_list)

[50, 40, 30, 20, 10]

In [11]:
# 11. Create a tuple with elements 100, 200, 300 and print it
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [12]:
# 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
# 13. Find the minimum number in the tuple (10, 20, 5, 15)
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [14]:

# 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [15]:
# 15. Create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

In [16]:
# 16. Create a set with the elements 'a', 'b', 'c' and print it
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [17]:
# 17. Clear all elements from the set {1, 2, 3, 4, 5}
num_set = {1, 2, 3, 4, 5}
num_set.clear()
print(num_set)

set()

In [18]:
# 18. Remove the element 4 from the set {1, 2, 3, 4}
num_set2 = {1, 2, 3, 4}
num_set2.remove(4)
print(num_set2)

{1, 2, 3}

In [19]:
# 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [20]:
# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set3 = {1, 2, 3}
set4 = {2, 3, 4}
print(set3.intersection(set4))

{2, 3}

In [21]:
# 21. Create a dictionary with keys "name", "age", and "city" and print it
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [22]:
# 22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [23]:
# 23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
person2 = {'name': 'Alice', 'age': 30}
print(person2["name"])

Alice

In [24]:
# 24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
person3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person3["age"]
print(person3)

{'name': 'Bob', 'city': 'New York'}

In [25]:
# 25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
person4 = {'name': 'Alice', 'city': 'Paris'}
print("city" in person4)

True

In [26]:
# 26. Create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30)
my_dict = {"a": 1, "b": 2, "c": 3}
print(my_list, my_tuple, my_dict)

[1, 2, 3, 4, 5] (10, 20, 30) {'a': 1, 'b': 2, 'c': 3}

In [27]:
# 27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print(random_numbers)

[21, 38, 40, 47, 58]

In [28]:
# 28. Create a list with strings and print the element at the third index
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(string_list[3])

date

In [29]:

# 29. Combine two dictionaries into one and print the result
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}  # Merging dictionaries
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
# 30. Convert a list of strings into a set
string_list2 = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list2)
print(string_set)

{'apple', 'banana', 'cherry'}